* {
	box-sizing: border-box;
}

body {
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.main-align {
	display: flex;
	width: 900px;
	justify-content: space-between;
}

.nav-container {
	display: flex;
	justify-content: center;
	flex-direction: column;
	}
	
.top-nav {
	display: flex;
	height: 40px;
	justify-content: center;
	text-decoration: none;
	background-color: #f8f8f8;
}

.top-nav-right {
	width: 75%;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	padding: 5px;
	text-decoration: none;
}

.nav-account a {
	text-decoration: none;
	color: black;
	padding: 5px;
}

.nav-phone a {
	text-decoration: none;
	color: black;
}

.bottom-nav {
	display: flex;
	justify-content: center;
	margin-top: 10px;
}

.nav-links {
	display: flex;
}

.nav-links a {
	text-decoration: none;
	color: black;
	padding: 5px;
	margin-top: 10px;
}

.main-section {
	display: flex;
	justify-content: center;
	height: 500px;
	flex-direction: column;
	background-image: url("https://cdn.shopify.com/s/files/1/1634/8185/t/2/assets/slide1_image.jpg?v=92401627442472956191484148034");
	background-repeat: no-repeat;
	background-position: center top;
	flex-wrap: wrap;
	margin-bottom: 50px;
}

.main-heading {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	color: #ffffff;
	height: 300px;
	flex-wrap: wrap;
}

.main-box {
	display: flex;
	justify-content: center;
	z-index: 2;
	margin-top: -175px;
	margin-bottom: 30px;	
}

.heading-box {
	height: 200px;
	width: 200px;
	background-color: #5ba0d0;
	margin-right: 30px;
}


.nav-dropdown {
	display: none;
}

.article-container {
	display: flex;
	justify-content: center;
}

.article-menu {
	display: flex;
	justify-content: center;
	flex-direction: column;
	text-align: center;
	width: 90%;
}

.article-top {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.article-bottom {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

article {
	display: flex;
	justify-content: center;
	flex-direction: column;
	height: 300px;
	width: 25%;
	margin: 10px;
	max-width: 300px;
}

h2 {
	margin-top: 30px;
}

@media screen and (max-width: 768px){
	.nav-dropdown {
		display: block;
	}
	
	.nav-phone{
		display: none;
	}
	
	.main-align {
		width: 99%;
	}
	
	.bottom-nav .main-align {
		flex-direction: column;
		align-items: center;
		
	}
	
	.nav-links {
		display: none;
	}

	
	.bottom-nav {
		flex-direction: column;
		align-items: center;
	}
	
	.top-nav {
		height: 100px;
	}
	
	.top-nav-right {
		width: 100%;
		justify-content: space-between;
	}
	
	.top-nav-right div:nth-child(1) {
		order: 3;
		width: 100%;
		text-align: center;
	}
	
	.top-nav-right div:nth-child(2) {
		order: 1;
	}
	
	.top-nav-right div:nth-child(3) {
		
		order: 2;
	}
	
	.heading-box {
		margin-top: 150px;
	}
	
	#box-3 {
		display: none;
	}
	
	.tablet-hidden {
		display: none;
	}
	
	article {
		width: 30%;

	}
	
	
}

@media screen and (max-width: 480px) {
	#box-2 {
		display: none;
	}
	
	.heading-box {
		width: 65%;
	}
	
	.tablet-hidden {
		display: inline;
	}
	
	.article-top {
		flex-wrap: wrap;
	}
	
	.article-bottom {
		flex-wrap: wrap;
	}
	
	article {
		width: 80%;
	}
}