* {
	box-sizing: border-box;
}

body {
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.main-align {
	display: flex;
	width: 900px;
}

.nav-container {
	display: flex;
	justify-content: center;
	flex-direction: column;
	}
	
.top-nav {
	display: flex;
	height: 40px;
	justify-content: center;
	text-decoration: none;
	background-color: #f8f8f8;
}

.top-nav-right {
	width: 75%;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	padding: 5px;
	text-decoration: none;
}

.nav-account a {
	text-decoration: none;
	color: black;
	padding: 5px;
}

.nav-phone a {
	text-decoration: none;
	color: black;
}

.bottom-nav {
	display: flex;
	justify-content: center;
	margin-top: 10px;
}

.nav-links {
	display: flex;
}

.nav-links a {
	text-decoration: none;
	color: black;
	padding: 5px;
	margin-top: 10px;
}

.main-section {
	display: flex;
	justify-content: center;
	height: 500px;
	flex-direction: column;
	background-image: url("https://cdn.shopify.com/s/files/1/1634/8185/t/2/assets/slide1_image.jpg?v=92401627442472956191484148034");
	background-repeat: no-repeat;
	background-position: center top;
	flex-wrap: wrap;
}

.main-heading {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	color: #ffffff;
	height: 300px;
	flex-wrap: wrap;
}

.main-box {
	display: flex;
	justify-content: center;

	
}

.heading-box {
	height: 200px;
	width: 200px;
	background-color: #5ba0d0;
	margin-right: 30px;
	position: relative;
}


.nav-dropdown {
	display: none;
}

